
html{
    background: linear-gradient(to bottom right,rgba(150, 0, 0, 0.5),transparent),
    linear-gradient(to bottom left,rgba(150, 150, 0, 0.85),transparent),
    linear-gradient(to left top,rgba(150, 0, 0, 0.85),transparent),
    linear-gradient(to top ,rgba(0, 150, 150, 0.851),transparent);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
    color: #00b8b8;
}

body {
    margin: 15vh 10vw;
    padding: 1.5em 2.5em;
    background-color: rgba(0, 0, 0, 0.412);
    border-color: #00b8b8dd;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
}
h1  {
    font-size: 3em;
    margin-bottom: 1em;
}
h2{
    font-size: 1.7em;
}
li, a {
    color: #00b8b8;
    margin-bottom: .8em;
    font-size: 1.3em;
}
p {
    font-size: 1.3em;
}
img{
    width: 55%;
    float: right;
    margin-left: 1em;
}